<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="p-4">Vous voulez devenir coach en ligne ?</h2>
      <p class="p-4">e-Coach est la première plate-forme de réservation de cours particuliers donnés en ligne sur des
        domaines tels que les jeux vidéos ou l'informatique. Faites partie de l'aventure !</p>
      <p class="p-4">Vous êtes un expert dans votre domaine, et vous voulez partager votre savoir ?

        Devenir coach sur e-Coach, c'est être mis en avant et reconnu par la communauté.
        C'est aussi vous engager à maintenir le niveau de compétence requis pour assurer le meilleur coaching possible à vos élèves.</p>

      <a href="" class="btn btn-lg btn-orange">Devenir coach</a>
    </div>
  </div>
</div>
