<div class="container-fluid">
  <div class="container py-5">
    <div class="row">
      <h1 class="col-12 text-center">Vous voulez devenir coatch en ligne ?</h1>
      <h2 class="col-12 text-center mb-3">Droits et devoirs des coachs sur e-Coatch school</h2>
      <p class="col-12 text-center">
        e-Coatch school est une nouvelle plate-forme de réservation de cours particuliers donnés en ligne sur l'e-sport des jeux de tir.
        Faites partie de l'aventure !
      </p>
      <h3 class="col-12 mt-3"><div class="number n-1">1</div>Valoriser sa passion</h3>
      <p class="col-12">
        Vous êtes un expert dans votre domaine, et vous voulez partager votre savoir ?<br><br>
        Devenir coach sur e-Coatch, c'est être mis en avant et reconnu par la communauté.<br>
        C'est aussi vous engager à maintenir le niveau de compétence requis pour assurer le meilleur coaching possible à vos élèves.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-2">2</div>Gagner de l'argent</h3>
      <p class="col-12">
        Comme certains de nos experts qui vivent de leur coaching, vous voulez rentabiliser votre activité sans avoir besoin de vous déplacer chez vos élèves ? Avec 10% de commission incluant les frais bancaires, e-Coatch propose un service nettement moins cher que les acteurs habituels du cours particulier (entre 40% et 60% de commission).
        <br><br>
        Devenir coach sur e-Coatch, c'est être totalement libre de ses horaires et de ses tarifs.<br>
        C'est aussi maintenir vos disponibilités à jour régulièrement et être présent devant votre ordinateur quand un cours est réservé.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-3">3</div>Se faire connaitre</h3>
      <p class="col-12">
        Chaque jour, notre équipe marketing travaille et investit (Adwords, Facebook, Partenariats...) pour vous apporter un maximum d'élèves.
        <br><br>
        Devenir coach sur e-Coatch, c'est être présent sur un site référence et chez de nombreux partenaires.<br>
        C'est aussi vous engager à utiliser les outils proposés pour diffuser votre profil partout sur le web.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-4">4</div>En toute sécurité</h3>
      <p class="col-12">
        La sécurité et la confidentialité sont des aspects essentiels de toute activité sur internet. Tous les messsages échangés et tous les paiements effectués sur notre site sont 100% sécurisés.
        <br><br>
        Devenir coach sur e-Coatch, c'est avoir l'assurance de se faire payer en toute sécurité pour toute heure de cours donnée.<br>
        C'est aussi l'assurance pour l'élève d'être remboursé en cas d'absence du professeur.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-5">5</div>Gestion administrative</h3>
      <p class="col-12">
        Avec son agenda entièrement automatisé, ses nombreux outils de gestion (gestion des litiges, gestion des paiements, facturation automatique, suivi marketing, etc.), notre équipe technique tente de satisfaire tous les besoins des coachs.
        <br><br>
        Devenir coach sur e-Coatch, c'est bénéficier du meilleur outil sur le marché pour donner ses cours en toute tranquilité.<br>
        C'est aussi accéder à un service personnalisé d'aide administrative (déclaration, statut, etc.) sur simple demande.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-6">6</div>La place de marché</h3>
      <p class="col-12">
        Le modèle marketplace possède de nombreux avantages :
      </p>
        <ul>
          <li>Une audience globale, toute géographie et tout domaine confondus</li>
          <li>Les retours des utilisateurs et la réactivité d'une plateforme dynamique</li>
          <li>La meilleure mise en relation possible entre un coach et un élève donnés</li>
        </ul>
        <p class="col-12">
          Devenir coach sur e-Coatch, c'est profiter de tous les avantages de la première place de marché pour le coaching en ligne au monde.<br>
          C'est aussi pouvoir générer plus de 10 000€ de revenus supplémentaires par an pour nos meilleurs coachs !
        </p>
    </div>
  </div>
</div>
