<div class="container">
  <div class="row coach-profile-infos justify-content-center">
    <div class="col-4 coach-profile-profilepic">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <div class="col-4 coach-profile-infocoach">
      <h2>{{currentCoach.coachInfos[0].username}}</h2>
      <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
      <span>180 h</span>
      <ul>
        <li>Age : {{currentCoach.coachInfos[0].age != 0 ? currentCoach.coachInfos[0].age : "Non renseigné"}}</li>
        <li>Pays : {{currentCoach.coachInfos[0].pays != "" ? currentCoach.coachInfos[0].pays : "Non renseigné"}}</li>
        <li>Langue : {{currentCoach.coachInfos[0].langue != "" ? currentCoach.coachInfos[0].langue : "Non renseigné"}}</li>
        <li>Divers : {{currentCoach.coachInfos[0].divers != "" ? currentCoach.coachInfos[0].divers : "Non renseigné"}}</li>
      </ul>
    </div>
    <!--<div class="col-5 coach-profile-calendar">-->
    <!--<angular2-fullcalendar id="calandarMini" [options]="calendarOptionsMini"></angular2-fullcalendar>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-12 coach-profile-content">
      <div class="row">
        <div class="col-9 coach-profile-content-desc">
          <h3>À propos</h3>
          <p>{{currentCoach.coachInfos[0].description  ? currentCoach.coachInfos[0].description : "Aucune description"}}</p>
        </div>
        <div class="col-3 coach-profile-avis">
          <ul>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
              <p class="coach-profile-avis-comment">Une super progression dans tous les domaines</p>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row coach-profile-program">
    <div *ngFor="let program of programmes" class="col-4">
      <div class="coach-profile-programbox">
        <h4 class="coach-profile-programbox-header">{{program.programmeNom}}</h4>
        <ul class="coach-profile-programbox-sections">
          <li *ngFor="let seance of program.seances">
            <p>Section 1 : {{seance.seanceNom}}</p>
            <p>{{seance.seanceDescription}}</p>
          </li>
        </ul>
        <button class="coach-profile-programbox-footer">{{program.prgrammeCoin}} Goldcoins</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mwl-calendar-week-view
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        (eventClicked)="handleEvent($event.event)">
      </mwl-calendar-week-view>
    </div>
  </div>
</div>
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header rounded-0">
          <h5 class="modal-title" id="exampleModalLabel">Section réservation de séance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="carouselReservation.selectSlide(0)">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <mdb-carousel [isControls]="true" [interval]="50000000" #carouselReservation [animation]="'slide'" class="mt-2 col-12 px-0">
          <mdb-slide class="row m-0 h-100 justify-content-center">
            <div class="row m-0">
              <div class="col-12 col-md-6">
                <div class="row m-0">
                  <h5 class="text-center">La section</h5>
                  <div class="col-12">
                    text
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <form class="row m-0">
                    <div class="form-header col-12 text-center py-3">
                      {{infos}}
                    </div>
                    <div class="form-body py-3 col-12">
                      <div class="row">
                        <div class="col-12 form-group">
                          <div class="row justify-content-center">
                            <div class="col-12 text-center">Sélectionner nombres d'heures</div>
                          </div>
                          <div class="row justify-content-center">
                            <div class="col-auto">
                              <select id="choose-discipline">
                                  <option value="" disabled selected>Choisir la discipline</option>
                                  <option value="mindgame">Mindgame</option>
                                  <option value="precision">Précision</option>
                                  <option value="com">Communication</option>
                                  <option value="deplacement">Déplacements</option>
                                  <option value="reflexes">Réflexes</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 form-group">
                          <div class="row">
                            <div class="col-12 text-center">{{currentCoach.coachInfos[0].couthoraire}} GoldCoins l'heure</div>
                            <div class="col-12 text-center">Coût {{prixTotal}} Goldcoins</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-footer col-12">
                      <div class="row">
                        <div class="col-12 col-sm-6 py-3 text-center align-self-center cliquable" (click)="carouselReservation.nextSlide()">
                              Réserver ces heures avec ce coach
                        </div>
                        <div class="col-12 col-sm-6 py-3 text-center align-self-center cliquable">
                            Acheter des goldCoins
                        </div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </mdb-slide>
          <mdb-slide class="row m-0 h-100 justify-content-center">
            <div class="row h-100 m-0">
              <h5 class="col-12">Notez vos performances actuelles</h5>
              <div class="col-12 col-md-6">
                <div class="row mt-3">
                  <div class="col-4 p-0 align-self-center text-right">
                    Précision :
                  </div>
                  <div class="col">
                      <mat-slider class="prix-cursor py-0 col-12 p-0" #precision [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [(ngModel)]="initialPrecision"
                      [vertical]="vertical"></mat-slider>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="row mt-3">
                  <div class="col-4 p-0 align-self-center text-right">
                    MindGame :
                  </div>
                  <div class="col">
                      <mat-slider class="prix-cursor py-0 col-12 p-0" #mindgame [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [(ngModel)]="initialMindGame"
                      [vertical]="vertical"></mat-slider>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                  <div class="row mt-3">
                    <div class="col-4 p-0 align-self-center text-right">
                      Communication :
                    </div>
                    <div class="col">
                        <mat-slider class="prix-cursor py-0 col-12 p-0" #communication [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [(ngModel)]="initialCom"
                        [vertical]="vertical"></mat-slider>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row mt-3">
                    <div class="col-4 p-0 align-self-center text-right">
                      Déplacements :
                    </div>
                    <div class="col">
                        <mat-slider class="prix-cursor py-0 col-12 p-0" #deplacements [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [(ngModel)]="initialDeplacement"
                        [vertical]="vertical"></mat-slider>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row mt-3">
                    <div class="col-4 p-0 align-self-center text-right">
                      Réflexes :
                    </div>
                    <div class="col">
                        <mat-slider class="prix-cursor py-0 col-12 p-0" #reflexes [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [(ngModel)]="initialReflexes"
                        [vertical]="vertical"></mat-slider>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row justify-content-end">
                    <button (click)="depenserGC()" class="col-auto reservation-btn">Valider la réservation</button>
                  </div>
                </div>
            </div>
          </mdb-slide>
        </mdb-carousel>
      </div>
      <div class="modal-footer rounded-0 p-0">
        <div class="col-12">

        </div>
      </div>
    </div>
  </div>
</div>
