<div class="container">
  <div class="row coach-profile-infos justify-content-center">
    <div class="col-4 coach-profile-profilepic">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <div class="col-4 coach-profile-infocoach">
      <h2>Nom du coach</h2>
      <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
      <span>180 h</span>
      <ul>
        <li>Poste : un poste</li>
        <li>League : un poste</li>
        <li>Serveur : un serveur</li>
        <li>Autres : des autres infos</li>
      </ul>
    </div>
    <!--<div class="col-5 coach-profile-calendar">-->
    <!--<angular2-fullcalendar id="calandarMini" [options]="calendarOptionsMini"></angular2-fullcalendar>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-12 coach-profile-content">
      <div class="row">
        <div class="col-9 coach-profile-content-desc">
          <h3>About me</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet enim neque. Donec eget libero
            ac risus iaculis ultrices. Cras nec pellentesque velit. Donec lobortis, orci quis ornare finibus, ex ipsum
            rhoncus tellus, vel vulputate lectus velit ut lorem. Nam imperdiet a nibh at tristique. Maecenas mattis
            auctor augue eget congue. Nunc nisl orci, aliquet et lorem eu, auctor vestibulum turpis. Sed rutrum enim at
            fringilla porta. Phasellus fringilla facilisis cursus. Cras accumsan lorem eu pharetra efficitur. Donec
            eleifend pretium aliquam. Praesent iaculis, tellus aliquet tincidunt pulvinar, felis nulla vulputate augue,
            vel ullamcorper eros velit efficitur eros.</p>
        </div>
        <div class="col-3 coach-profile-avis">
          <ul>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
              <p class="coach-profile-avis-comment">Une super progression dans tous les domaines</p>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
            <li>
              <p>Username</p>
              <app-star-rating class="coach-profile-starrating" rating="2"></app-star-rating>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row coach-profile-program">
    <div class="col-4">
      <div class="coach-profile-programbox">
        <h4 class="coach-profile-programbox-header">Nom du programme</h4>
        <ul class="coach-profile-programbox-sections">
          <li>Section 1 : name</li>
          <li>Section 2 : name</li>
          <li>Section 3 : name</li>
          <li>Section 4 : name</li>
        </ul>
        <button class="coach-profile-programbox-footer">Reserver le programme</button>
      </div>
    </div>
    <div class="col-4">
      <div class="coach-profile-programbox">
        <h4 class="coach-profile-programbox-header">Nom du programme</h4>
        <ul class="coach-profile-programbox-sections">
          <li>Section 1 : name</li>
          <li>Section 2 : name</li>
          <li>Section 3 : name</li>
          <li>Section 4 : name</li>
        </ul>
        <button class="coach-profile-programbox-footer">Reserver le programme</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mwl-calendar-week-view
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-week-view>
    </div>
  </div>
</div>
