app-how-it-works{
  color: #333;
  h1{color: #ff9900;font-size: 36px;}
  h2{font-size: 26px;}
  h3{line-height: 30px;}
  .number{border-radius: 50%;color: #fff;font-size: 20px;width: 30px;height: 30px;line-height: 30px;text-align: center;float: left;margin-right: 10px;}
  .n-1{background-color: #1faa00;}
  .n-2{background-color: #00bfa5;}
  .n-3{background-color: #2962ff;}
  .n-4{background-color: #aa00ff;}
  .n-5{background-color: #c51162;}
  .n-6{background-color: #d50000;}
}
