<div class="container-fluid">
  <div class="container py-5">
    <div class="row">
      <h1 class="col-12 text-center">Comment ça marche ?</h1>
      <h2 class="col-12 text-center mb-3">Un cours en ligne en quelques clics</h2>
      <h3 class="col-12 mt-3"><div class="number n-1">1</div>Choisissez votre coach</h3>
      <p class="col-12">
        Nos coachs ont tous leur spécialité et leur particularité. Comparez et choisissez celui qui vous convient le mieux grâce à leur profil détaillé : description, déroulement du cours, tarif, palmarès et références.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-2">2</div>Réservez un cours</h3>
      <p class="col-12">
        Choisissez l'horaire qui vous convient sur le calendrier du coach cliquez directement dessus pour réserver. Payez en ligne par carte bleue ou Paypal sur notre plate-forme 100% sécurisée. Votre coach est directement prévenu et vos coordonnées Skype sont échangées. Pratique !
        <br><br>
        Pour en savoir plus sur le fonctionnement des packs et des bons cadeaux, suivre le FAQ Elève.
      </p>
      <h3 class="col-12 mt-3"><div class="number n-3">3</div>Profitez du cours</h3>
      <p class="col-12">
        Le jour J est arrivé, rejoignez votre coach sur Skype et profitez du cours en ligne ! Nous garantissons tous les cours réservés, suivez ce lien pour en savoir plus sur la garantie e-Coatch.
        <br><br>
        Vous pouvez enfin donner un avis sur le cours dans votre tableau de bord.
      </p>
    </div>
  </div>
</div>
