<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Mes cours</h5>
        <ul>
          <li>Mes abonnements</li>
          <li>Mon calendrier</li>
        </ul>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <h4 class="col-12">Mon compte</h4>
          <h6>Informations générales</h6>
          <div class="col-3">
            
          </div>
          <div class="col">
            <div class="row">
              <div class="col-5 text-right font-weight-bold">Pseudonyme </div>
              <div class="col-7">Histouche </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>