<div class="container-fluid">
  <div class="container pb-5">
    <div class="row">
      <h1 class="col-12 mt-5 mb-4 text-center">Choisir un pack</h1>
      <div class="col-12">
        <div class="row">
          <div *ngFor="let pack of packs" class="col px-1">
            <div class="row m-0">
              <div class="col-12 pack mb-3 p-2 pt-4" (click)="openAchatModal(pack)">
                <div class="row justify-content-center m-0">
                  <div class="pack-name col-auto rounded-circle text-center" [style.background-color]="pack.color">
                    {{pack.name}}
                  </div>
                  <div class="col-12 mt-3 gc-nb text-center">
                    Pack {{pack.gc}} GoldCoins
                  </div>
                  <div class="col-12 price text-center mt-2 rounded p-2">
                    {{pack.price}} €
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="achatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header rounded-0">
        <h5 class="modal-title" id="exampleModalCenterTitle">Achat du pack de GoldCoins {{packname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-carousel [isControls]="true" [interval]="5000000000" id="carouselPaiement" #carouselPaiement [animation]="'slide'" class="mt-2 col-12 px-0">
          <mdb-slide class="row m-0 h-100 justify-content-center">
            <div class="row m-0">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    Vous allez commandez {{gc}} goldcoins pour {{prix}} euros.<br><br>
                    Paiement effectué avec Stripe<br><br>
                    <form novalidate (ngSubmit)="buy(gc)" [formGroup]="stripeTest">
                        <input type="hidden" name="gc" [(ngModel)]="gc">
                      <input class="paiement-input" type="text" formControlName="name" placeholder="Nom sur la carte">
                      <div id="card-element" class="field"></div>
                      <button class="reservation-btn" type="submit">
                        ACHETER
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </mdb-slide>
          <mdb-slide class="row m-0 h-100 justify-content-center">
            <div class="row m-0">
              <div class="col-12">
                Merci pour votre achat de GoldCoins.<br>
                Vous pouvez dès maintenant les utiliser pour réserver des cours.<br>
                Vous allez être redirigé à l'accueil du site dans 3 secondes.
              </div>
              <div class="col-12">
                <div class="row">
                  <a class="reservation-btn" href="/">Retour à l'accueil</a>
                </div>
              </div>
            </div>
          </mdb-slide>
        </mdb-carousel>
      </div>

    </div>
  </div>
</div>
