<div class="container-fluid">
  <div class="container py-5">
    <div class="row">
      <h1 class="col-12 text-center">Réservez en toute sécurité</h1>
      <h2 class="col-12 text-center mb-3">Découvrez les garanties de e-Coatch</h2>
      <h3 class="col-12 mt-3">Vous êtes protégés en cas d'absence du coach</h3>
      <div class="col-12">
        <div class="row">
          <div class="col-2 px-0">
            <div class="row h-100">
              <div class="col-12 align-self-center text-center">
                <i class="material-icons n-1">
                  verified_user
                </i>
              </div>
            </div>
          </div>
          <div class="col-9">
            Les élèves paient e-Coatch au moment de l'achat de GoldCoins. Mais e-Coatch ne reverse le paiement aux coachs qu'une fois que nous avons confirmation que le cours s'est correctement déroulé.
            <br><br>
            En cas d'absence de professeur, ee-Coatch possède toujours votre argent et peut donc vous rembourser facilement !
          </div>
        </div>
      </div>
      <h3 class="col-12 mt-3">Nous gérons les litiges</h3>
      <div class="col-12">
        <div class="row">
          <div class="col-2 px-0">
            <div class="row h-100">
              <div class="col-12 align-self-center text-center">
                <i class="material-icons n-2">
                  mouse
                </i>
              </div>
            </div>
          </div>
          <div class="col-9">
            En cas de contestation de votre cours, vous êtes pris en charge par notre gestionnaire de litiges. Le coach est contacté automatiquement. Nous vous donnons le choix entre vous faire rembourser, récupérer un bon d'échange avec le même coach ou procédér à un échange avec un autre. En cas de soucis, un admin e-Coatch intervient personnellement.
          </div>
        </div>
      </div>
      <h3 class="col-12 mt-3">Vous payez sur une plate-forme 100% sécurisée</h3>
      <div class="col-12">
        <div class="row">
          <div class="col-2 px-0">
            <div class="row h-100">
              <div class="col-12 align-self-center text-center">
                <i class="material-icons n-3">
                  credit_card
                </i>
              </div>
            </div>
          </div>
          <div class="col-9">
            Nous travaillons avec un prestataire de paiement 100% fiable qui garantit la sécurité totale des transactions bancaires effectuées.
            <br><br>
            Le paiement se fait sur la plate-forme de notre prestataire par carte bleue ou Paypal. Il n'y a aucun risque pour vos données bancaires.
          </div>
        </div>
      </div>
      <h3 class="col-12 mt-3">Les avis des anciens élèves sont totalement fiables</h3>
      <div class="col-12">
        <div class="row">
          <div class="col-2 px-0">
            <div class="row h-100">
              <div class="col-12 align-self-center text-center">
                <i class="material-icons n-4">
                  chat
                </i>
              </div>
            </div>
          </div>
          <div class="col-9">
            Seuls les élèves qui ont assisté à un cours avec un coach peuvent laisser un avis sur ledit coach. e-Coatch ne modère aucun avis d'anciens élèves. Vous pouvez leur faire totalement confiance.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
