app-security{
  color: #333;
  h1{color: #ff9900;font-size: 36px;}
  h2{font-size: 26px;}
  h3{line-height: 30px;margin-top: 40px;}
  .material-icons{
    font-size: 60px;
    color: #333;
  }
  .n-1{color: #1faa00;}
  .n-2{color: #00bfa5;}
  .n-3{color: #2962ff;}
  .n-4{color: #aa00ff;}
}
