@import "./../../../assets/scss/variables";

.coach-listitem {
  .mat-card-avatar{
    height: 60px;
    width: 60px;
  }
  .mat-card-title{
    span{
      background-color: $primary;
      padding: 2px 10px;
      border-radius: 5px;
      color: white;
    }
  }
}

.coach-listitem-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.coach-listitem-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: white;
    display: inline;
  }
  button {
    width: 100%;
    background-color: $primary;
  }

}
